@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="card">
        <h1>Seleccione una opción</h1>
    <div class="card-body">
        <a asp-action="Index" asp-controller="Administrador" class="btn btn-primary">Asesor</a>
        <a asp-action="Index" asp-controller="Usuarios" class="btn btn-success">Usuario</a>
    </div>
    </div>
</div>