@{
    ViewData["title"] = "Inicio administrador";
}

<div class="container">
    <form>
        <div class="mb-3">
            <label for="" class="form-label">Correo</label>
            <input type="email" class="form-control" id="">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>