@{
    ViewData["title"]= "Tipo turno";
}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <form action="">
                <a class="btn btn-primary">Turno medicamento</a>
            </form>
        </div>

        <div class="col-md-6">
             <form action="">
                <a class="btn btn-primary">Turno citas</a>
            </form>
        </div>
    </div>

       <div class="row">

        <div class="col-md-6">
            <form action="">
                <a class="btn btn-primary">Turno consulta general</a>
            </form>
        </div>

        <div class="col-md-6">
             <form action="">
                <a class="btn btn-primary">Turno </a>
            </form>
        </div>
    </div>
</div>